# Build output
platform/k4vp_2/managed_components/
platform/k4vp_2/dependencies.lock
platform/k4vp_2/build
platform/k4vp_2/sdkconfig
platform/k4vp_2/sdkconfig.old
ht
docs/html
build.*

# Object files
*.o

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
